@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body{
    background-color:  rgba(210, 203, 203, 0.159);            
    display: flex;
    margin: 0px;
}
/*CSS for image sidebar*/
.img-container
{
    width: 700px;
    height: 1000px;
    position: relative;
}
.title-caption{
    position: absolute;
    top: 200px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Norse-Bold, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.352);
} 
.img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.credits{
    position: absolute;
    bottom: 100px; 
    width: 100%;
    text-align: center;
    color: white;
}
a{
    color: white;
}

/*CSS for text and form*/
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 24px;
    font-family:Arial, Helvetica, sans-serif;
}
.upper{
    padding-left: 32px;
    font-size: 1.5rem;
    font-weight: bold;
}
.lower{
    padding-left: 32px;
}
.lower>button{
    background-color: #596D48;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 12px;
}
.lower>p{
    font-weight:bold;
    font-size: 1.05rem;

}


form{
    background-color: white;
    padding: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: black;
}
form>h2{
    margin-top: 0px;
}
.form{
    display: flex;

}
.ele1{
    display: flex;
    flex-direction: column;
}

